{% extends 'website/base.html' %}
{% load static %}
{% block title %} Niezapomniane atrakcje tylko z Ziomkolandia.pl {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/dmuchnce.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Dmuchańce i atrakcje</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'atrakcje' %}">
                 Dumachańce i atrakcje <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
        <div class="container">
    	    <div class="row">
        	    <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
        			    <div>
	        		    	<h3 class="mb-3"><a href="{% url 'CrashKader' %}" style="color:black;">
                                Tor przeszkód CrashKader Long </a></h3>
	        		    	<p><span class="price">PLN 3500</span> <span class="per">/ 6h</span></p>
	        	    	</div>
	        	    	<div class="img" style="background-image: url({% static 'images/CrashKader.jpg'%});"></div>
	        		    <div class="px-4">
	        			    <p>Wymiary: 30m długość, 3,3m szerokość, 5m wysokość</p>
        			    </div>
        			        <p class="button text-center"><a href="{% url 'CrashKader' %}"
                                                             class="btn btn-primary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

        	    <div class="col-md-6 col-lg-3 ftco-animate">
        	    	<div class="pricing-entry bg-light pb-4 text-center">
        		    	<div>
                            <h3 class="mb-3"><a href="{% url 'CrashRunner' %}" style="color: black">
                                Tor przeszkód CrashRunner</a></h3>
                            <p><span class="price">PLN 3500</span> <span class="per">/ 6h</span></p>
	        	    	</div>
                        <div class="img" style="background-image: url({% static 'images/CrashRunner.jpg'%});"></div>
                        <div class="px-4">
	        		    	<p>Wymiary: 24m długość, 4,7m szerokość, 5,2m wysokość</p>

        			    </div>
        			        <p class="button text-center"><a href="{% url 'CrashRunner' %}"
                                                             class="btn btn-secondary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

        	    <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light active pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'KlockiMaxi' %}" style="color: black">
                                Plac zabaw Kolorowe Klocki</a> </h3>
                            <p><span class="price">PLN 2200</span> <span class="per">/ 6h</span></p>
	        		    </div>
	        	    	<div class="img" style="background-image: url({% static 'images/Klocki_Maxi.jpg' %});"></div>
        			    <div class="px-4">
	        		    	<p>Wymiary: 8m długość, 8m szerokość, 5m wysokość</p>
        		    	</div>
        			        <p class="button text-center"><a href="{% url 'KlockiMaxi' %}"
                                                             class="btn btn-tertiary px-4 py-3">Więcej...</a></p>
        	    	</div>
            	</div>

                 <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'ZjazdKolcki' %}" style="color: black">
                                Zjazd Kolorowe Klocki x 2</a></h3>
                            <p><span class="price">PLN 1500</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/klocki_2.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 7m długość, 4m szerokość, 6m wysokość</p>
                        </div>
        			<p class="button text-center"><a href="{% url 'ZjazdKolcki' %}"
                                                     class="btn btn-quarternary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

            </div>
        </div>
  <br/>

    	<div class="container">
    		<div class="row">

                	<div class="col-md-6 col-lg-3 ftco-animate">
        	    	<div class="pricing-entry bg-light pb-4 text-center">
        		    	<div>
	        		    	<h3 class="mb-3"><a href="{% url 'ClimbingWall' %}" style="color: black">
                                Ścianka Wspinaczkowa</a></h3>
	        			    <p><span class="price">PLN 1500</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/sciana.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 6m długość, 6m szerokość, 6m wysokość</p>
                        </div>
        			        <p class="button text-center"><a href="{% url 'ClimbingWall' %}"
                                                             class="btn btn-primary px-4 py-3">Więcej...</a></p>
        		    </div>
            	</div>

                	<div class="col-md-6 col-lg-3 ftco-animate">
        	    	<div class="pricing-entry bg-light pb-4 text-center">
        		    	<div>
	        		    	<h3 class="mb-3"><a href="{% url 'Snooker' %}" style="color: black">
                                Giga <br/> Piłkarzyki</a></h3>
	        			    <p><span class="price">PLN 1300</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/atrakcje/giga.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 12m długość, 6m szerokość, 2,1m wysokość</p>
                        </div>
        			        <p class="button text-center"><a href="{% url 'Snooker' %}"
                                                             class="btn btn-secondary px-4 py-3">Więcej...</a></p>
        		    </div>
            	</div>

                   <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'ArcheryTag' %}" style="color: black">
                                Archery <br/> Tag </a></h3>
                            <p><span class="price">PLN 1200</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/luki.jpg'%});"></div>
                        <div class="px-4">
                            <p>Ilość: 14 zestawów <br/> (łuki, maski) </p>
                        </div>
                        <p class="button text-center"><a href="{% url 'ArcheryTag' %}"
                                                         class="btn btn-tertiary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'BumperBall' %}" style="color: black">
                                Bumper <br/> Ball</a></h3>
                            <p><span class="price">PLN 1200</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/Bumper_ball.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 1,55m średnica</p>
                            <p>Ilość: 10 sztuk</p>
                        </div>
                        <p class="button text-center"><a href="{% url 'BumperBall' %}"
                                                         class="btn btn-quarternary px-4 py-3">Więcej...</a></p>
                    </div>
        	    </div>
            </div>
        </div>


<br/>
    	<div class="container">
    		<div class="row">



                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'SkakaniecKlocki' %}" style="color: black">
                                Plac zabaw Kolorowe Klocki</a></h3>
                            <p><span class="price">PLN 1000</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/Klocki_Mini.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 5m długość, 4m szerokość, 4m wysokość</p>
                        </div>
                          <p class="button text-center"><a href="{% url 'SkakaniecKlocki' %}"
                                                           class="btn btn-primary px-4 py-3">Więcej...</a></p>
                    </div>
                </div>


               	<div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'DmuchaniecKlocki' %}" style="color: black">
                                Skakaniec Kolorowe Klocki</a></h3>
                            <p><span class="price">PLN 1000</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/Kolorowe_klocki.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 5m długość, 4m szerokość, 5m wysokość</p>
                        </div>
                            <p class="button text-center"><a href="{% url 'DmuchaniecKlocki' %}"
                                                             class="btn btn-secondary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>


                <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'PoduchaWodna' %}" style="color: black">
                                Dmuchana poducha Water Blob</a></h3>
                            <p><span class="price">PLN 1000</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/water_blob.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 10m długość, 4m szerokość</p>
                        </div>
                        <p class="button text-center"><a href="{% url 'PoduchaWodna' %}"
                                                         class="btn btn-tertiary px-4 py-3">Więcej...</a></p>
                    </div>
                </div>


                  <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'WatherRoller' %}" style="color: black">
                                Wodny <br/> Walec</a></h3>
                            <p><span class="price">PLN 600</span> <span class="per">/ 6h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/atrakcje/walec1.jpg'%});"></div>
                        <div class="px-4">
                            <p>Wymiary: 10m długość, 4m szerokość</p>
                        </div>
                        <p class="button text-center"><a href="{% url 'WatherRoller' %}"
                                                         class="btn btn-quarternary px-4 py-3">Więcej...</a></p>
                    </div>
                </div>
            </div>
        </div>


                    <br/>
    	<div class="container">
    		<div class="row">

                <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'Motorowka' %}" style="color: black">
                                RIB - Banan, Poduchy, Narty</a></h3>
                            <p><span class="price">PLN 400</span> <span class="per">/ 1h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/lodka.jpg'%});"></div>
                        <div class="px-4">
                           <p>Instruktor w cenie</p>
                           <p>Minimum 3h</p>
                        </div>
                            <p class="button text-center"><a href="{% url 'Motorowka' %}"
                                                             class="btn btn-primary px-4 py-3">Więcej...</a></p>
                    </div>
        	    </div>

                  <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'Paintball' %}" style="color: black">
                              Paintball <br/> Gra zespołowa  </a></h3>
                            <p><span class="price">PLN 50</span> <span class="per">/ osoby</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/atrakcje/paint.jpg'%});"></div>
                        <div class="px-4">
                          <p>Minimum 20 osób</p>
                            <p>Instruktor w cenie</p>
                        </div>
                            <p class="button text-center"><a href="{% url 'Paintball' %}"
                                                             class="btn btn-secondary px-4 py-3">Więcej...</a></p>
                    </div>
        	    </div>

                   <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'WataCukrowa' %}" style="color: black">
                               Wata cukrowa <br/> Popcorn </a></h3>
                            <p><span class="price">PLN 200</span> <span class="per">/ 1h</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/atrakcje/wata1.jpg'%});"></div>
                        <div class="px-4">
                              <p>Produkty w cenie</p>
                            <p>Minimum 3 godziny</p>

                        </div>
                            <p class="button text-center"><a href="{% url 'WataCukrowa' %}"
                                                             class="btn btn-tertiary px-4 py-3">Więcej...</a></p>
                    </div>
        	    </div>

                   <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'Agregat' %}" style="color: black">
                               Agregat Proton  <br/> Maks. 12 kW </a></h3>
                            <p><span class="price">PLN 250</span> <span class="per">/ doba</span></p>
                        </div>
                        <div class="img" style="background-image: url({% static 'images/atrakcje/agregat.jpg'%});"></div>
                        <div class="px-4">
                          <p>Minimum 1 doba</p>
                            <p>Odbiór własny</p>
                        </div>
                            <p class="button text-center"><a href="{% url 'Agregat' %}"
                                                             class="btn btn-quarternary px-4 py-3">Więcej...</a></p>
                    </div>
        	    </div>
          </div>
    	</div>
    </section>

{% endblock %}