{% extends 'website/base.html' %}
{% load static %}
{% block title %} {{ blog.title }}  {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span>
                  <span> <a href="{% url 'blog' %}"> Blog <i class="ion-ios-arrow-forward"></i></a></span>
              </p>
          </div>
        </div>
      </div>
    </section>




<section class="ftco-section bg-light">

			<div class="container">
				<div class="row">
                      {% for post in posts %}
          <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'post_detail' pk=post.pk %}" class="block-20 d-flex align-items-end" style="background-image:
                      url({{  post.images.url  }});">
								<div class="meta-date text-center p-2">
                  <span class="day">{{ post.publish_date|date:'d'}}</span>
                  <span class="mos">{{ post.publish_date|date:'E' }}</span>
                  <span class="yr">{{ post.publish_date|date:'Y' }}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">
                        Czytaj więcej... <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">{{ post.author }}</a>
	                <!--	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> -->
	                </p>
                </div>
              </div>
            </div>
          </div>

    {% endfor %}
     </div>
            </div>


     <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
            <li><a href="?page=1"><i class="ion-ios-arrow-back"></i></a></li>
                  {% if page_obj.has_previous %}
                <li><a href="./?page={{ page_obj.previous_page_number }}">{{  page_obj.previous_page_number }}</a></li>
                  {% endif %}
                <li class="active"><span>{{ page_obj.number }} </span></li>

                {% if page_obj.has_next %}
                      <a href="./?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    <li><a href="./?page={{ page_obj.paginator.num_pages }}"><i class="ion-ios-arrow-forward">

                    </i></a></li>
                    <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
                  {% endif %}


<!--
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li> -->
              </ul>
            </div>
          </div>
     </div>
</section>
{% endblock %}