{% extends 'website/base.html' %}
{% load static %}
{% block title %} Eventy - imprezy firmowe i prywatne {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/eventyfirmowe.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Eventy imprezy firmowe i prywatne </h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">
                  O nas <i class="ion-ios-arrow-forward"></i></a></span> <span>
                  <a href="{% url 'eventy' %}"> Eventy <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section ftco-no-pt ftco-no-pb">

    <div class="container">
           <div class="row">
               <div>
        <p><br/>
            Olimpiady sportowe i animacje realizujemy wg określonego scenariusza.
        </p>
        <p>
            Wielobój „olimpijski”, złożony ze zróżnicowanych konkurencji team-building'owych. Ich wykonywanie
            stanowi dla uczestników dużą frajdę i wywołuje salwy śmiechu. Zawodnicy podzieleni są na drużyny
            rywalizujące o medale. Nad prawidłowym przebiegiem rozgrywek czuwa sędzia.
        </p>
        <p>
            Animacje eventowe dobieramy do określonej grupy wiekowej, łącząc je z <a href = {% url 'atrakcje' %}>
            dmuchańcami </a> i innymi atrakcjami tworząc niesamowite i niezapomniane przygody.
        </p>
         </div>
           </div>
        <div class="row">
         <div class="col-md-4 order-md-last wrap-about py-4 wrap-about bg-light">
                <div class="image-popup">
                   <img src="{% static 'images/animacje_eventy.jpg'%}">
                </div>
           </div>
            <div class="col-md-4 wrap-about py-4 pr-md-4 ftco-animate fadeInUp ftco-animated">


                 <h2 class="mb-4"style="color:green;"> Animacje Eventowe:</h2>
                <ul>
                    <li>kręcenie balonów </li>
                    <li>malowanie buziek </li>
                    <li>kącik malucha </li>
                    <li>zabawy z klanzą 5m </li>
                    <li>gumizela </li>
                    <li>wielkie bańki mydlane </li>
                    <li>tatuaże </li>
                    <li>gry i zabawy ruchowe </li>
                    <li>zajęcia plastyczne </li>
                </ul>
                     <h2 class="mb-4" style="color: orangered"> <strong> Koszt od 2000 PLN </strong></h2>

            </div>
        </div>
    </div>
    </section>


    <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-last wrap-about py-4 wrap-about bg-light">
                <div class="image-popup">
                   <img src="{% static 'images/olimpiady_sportowe.jpg'%}">
                </div>
           </div>
            <div class="col-md-4 wrap-about py-4 pr-md-4 ftco-animate fadeInUp ftco-animated">
                 <h2 class="mb-4" style="color: green"> Olimpiady sportowe "na wesoło":</h2>
                        <ul>
                    <li>gąsienica </li>
                    <li>foliowe wyścigi </li>
                    <li>atrakcje strzeleckie</li>
                    <li>siatkówka na wesoło</li>
                    <li>mega Jenga </li>
                    <li>narty drużynowe </li>
                    <li>wspinaczka po skrzynkach </li>
                    <li>przeciąganie liny</li>
                    <li>wyścig w taczkach </li>
                    <li>przeprawa przez rzekę </li>
                    <li>wyścig piramid </li>
                    <li>mega bierki </li>
                    <li>wąż w nogawce :)  </li>
                </ul>
                     <h2 class="mb-4" style="color: orangered"> <strong> Koszt od 2000 PLN </strong></h2>
            </div>

        </div>
        <p>
        <h3> <a href="{% url 'kontakt' %}"> Serdecznie zapraszamy do skorzystania z naszej oferty i do kontaktu
        z nami celem ustalenia szczegółów. </a></h3>
       </p>
    </div>
    </section>

<br/>
    	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/oboz2.jpg '%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/oboz2.jpg" %});">
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/oboz3.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/oboz3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/polkolonie2.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/polkolonie2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/polkolonie3.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/polkolonie3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
{% endblock %}