<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zapis na obozy</title>
</head>
<body>
<h2> Jeżeli chcesz zapisać dziecko na obóz wypełnij poniższe pola formularza, następnie zapisz plik na dysku swojego komputera, wydrukuj, uzupełnij pozostałe wymagane pola, wydrukuj, podpisz i przekaż go do nas </h2>


  <form enctype="multipart/form-data" method="POST" class="empty-form">
        {% csrf_token %}
      <table>
     {{ form.as_table }}

  </table>
      {{ captchaField }}
 <button type="submit" class="button">Zapisz</button>

  </form>
</body>
</html>