{% extends 'website/base.html' %}
{% load static %}
{% block title %} Niezapomniane atrakcje tylko z Ziomkolandia.pl {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Zielona szkoła</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'zielona-szkola' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'oferta-zielona-szkola' %}">
                 Oferta zielona szkoła <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
        <div class="container">
    	    <div class="row">
        	    <div class="col-md-6 col-lg-3 ftco-animate">
        		    <div class="pricing-entry bg-light pb-4 text-center">
        			    <div>
                            <h3 class="mb-3"><a href="{% url 'ziomkolandia-mini' %}" style="color: black">Ziomkolandia MINI</a></h3>
	        		    	<p><span class="price">PLN 350</span> <span class="per">/ 1 osoba</span></p>
	        	    	</div>
	        	    	<div class="img" style="background-image: url({% static 'images/CrashKader.jpg'%});"></div>
	        		    <div class="px-4">
	        			    <p>Czas pobytu: 3 dni (2 noce)</p>
        			    </div>
        			        <p class="button text-center"><a href="{% url 'ziomkolandia-mini' %}"
                                                             class="btn btn-primary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

        	    <div class="col-md-6 col-lg-3 ftco-animate">
        	    	<div class="pricing-entry bg-light pb-4 text-center">
        		    	<div>
                            <h3 class="mb-3"><a href="{% url 'ziomkolandia-maxi' %} " style="color:black;">
                                Ziomkolandia MAXI</a></h3>
                            <p><span class="price">PLN 450</span> <span class="per">/ 1 osoba</span></p>
	        	    	</div>
                        <div class="img" style="background-image: url({% static 'images/CrashRunner.jpg'%});"></div>
                        <div class="px-4">
	        		    	<p>Czas pobytu: 3 dni (2 noce)</p>

        			    </div>
        			        <p class="button text-center"><a href="{% url 'ziomkolandia-maxi' %}"
                                                             class="btn btn-secondary px-4 py-3">Więcej...</a></p>
        		    </div>
        	    </div>

        	    <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="pricing-entry bg-light active pb-4 text-center">
                        <div>
                            <h3 class="mb-3"><a href="{% url 'ziomkolandia-xl' %}" style="color: black">
                                Ziomkolandia XL </a> </h3>
                            <p><span class="price">PLN 550</span> <span class="per">/ 1 osoba</span></p>
	        		    </div>
	        	    	<div class="img" style="background-image: url({% static 'images/Klocki_Maxi.jpg' %}) "></div>
        			    <div class="px-4">
	        		    	<p>Czas pobytu: 4 dni (3 noce)</p>
        		    	</div>
        			        <p class="button text-center"><a href="{% url 'ziomkolandia-xl' %}"
                                                             class="btn btn-tertiary px-4 py-3">Więcej...</a></p>
        	    	</div>
            	</div>


          </div>
    	</div>
    </section>

{% endblock %}