{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Aktualne półkolonie i obozy</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'obozy' %}">
                  Półkolonie i obozy <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url({% static 'images/oboz.jpg'%});"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Obóz letni Łeba</a></h3>
							<p class="subheading"><span>Termin:</span> 25 - 31 lipca 2021</p>
							<p>Atrakcje: kajaki, gokarty, rowery wodne, park linowy, dmuchane tory, banan wodny i
                                poduchy, ścianka wspinaczkowa, bumper ball oraz inne.  </p>
                            <p><strong>Cena: 1350 zł</strong></p>
                                  <a href="{% url 'kids_enroll_camp' %}" class="btn btn-primary px-4 py-3">Zapisy</a>
						</div>

					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url({% static 'images/polkolonie.jpg' %});"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Półkolonie na sportowo Człuchów</a></h3>
							<p class="subheading"><span>Termin:</span> I termin 28.06 - 02.07.2021</p>
							<p class="subheading"><span>Termin:</span> II termin 05.07 - 09.07.2021</p>
							<p>Atrakce: banan wodny i poduchy, park linowy, kajaki, aquapark, gry i zabawy ruchowe,
                                gry zespołowe, dmuchane tory przeszków i inne</p>
                            <p><strong>Koszt 400 zł z wyżywieniem. Opieka 08:00 - 15:00 </strong></p>
                                  <a href="{% url 'kids_enroll_day_camp' %}" class="btn btn-secondary px-4 py-3">Zapisy</a>
						</div>
					</div>
                    <!--
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-3.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Music Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-4.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Sports Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-5.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Study Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
						</div>
					</div>
					<div class="col-md-6 course d-lg-flex ftco-animate">
						<div class="img" style="background-image: url(images/course-6.jpg);"></div>
						<div class="text bg-light p-4">
							<h3><a href="#">Experiment Lesson</a></h3>
							<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
						</div>
					</div> -->
				</div>
			</div>
		</section>



<br/>
    	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/oboz2.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/oboz2.jpg" %});">
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/oboz-zima4.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/oboz-zima4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/polkolonie2.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/polkolonie2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/polkolonie3.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/polkolonie3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
{% endblock %}