{% extends 'website/base.html' %}
{% load static %}
{% block title %} Polityka prywatności serwisu Ziomkolandia.pl {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/kontakt.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Polityka prywatności</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas <i class="ion-ios-arrow-forward"></i></a></span> <span>Polityka prywatności <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <br/> <br/>
      <div class="col-md-12 wrap-about py-6 pr-md-5 ftco-animate">
          <p>
              <h2> Polityka prywatności </h2>

              Polityka skierowana jest do użytkowników strony internetowej <a href= "{% url 'index' %}">
              www.ziomkolandia.pl </a> <strong>[Serwis]. </strong>
              W Polityce zostały opisane zasady przetwarzania i ochrony danych użytkowników serwisu, które są
              gromadzone bezpośrednio od nich lub za pośrednictwem plików cookies oraz podobnych technologii. <br/> <br/>

          <h4> Administrator danych</h4>
              Administratorem danych gromadzonych w związku z korzystaniem z Serwisu oraz zapisami dzieci na półkolonie
              lub obozy jest Ziomkolandia.pl Marek Kołodziejski, NIP: 8431547210 z siedzibą w Człuchowie (77-300),
              os. Witosa 24/27, <a href="tel://+48512503608">+48 512 503 608</a>,
          <a href="mailto:info@ziomkolandia.pl"> info@ziomkolandia.pl</a>. <br/>

              Administratorem danych gromadzonych w związku z zapisami na zajęcia są wspólnicy spółki cywilnej:
              Ziomkosfera Marek Kołodziejski Dagmara Kołodziejska s.c. W sprawach związanych z przetwarzaniem Państwa
              danych przez Administratora można kontaktować się z wykorzystaniem powyższych danych. <br/> <br/>

          <h4>Definicje</h4>
          <strong>Serwis</strong> - strona internetowa znajdująca się pod adresem: <a href= "{% url 'index' %}">
          www.ziomkolandia.pl </a><br/>
          <strong>RODO</strong> - Rozporządzenie Parlamentu Europejskiego i Rady EU 2016/679 z dnia 27 kwietnia 2016 r.
          w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego
          przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Ogólne Rozporządzenie o Ochronie Danych).<br/>
          <strong>Formularz</strong> - miejsca w Serwisie, które umożliwiają wprowadzenie danych osobowych przez
          Użytkownika, we wskazanych celach np. w celu zapisu na zajęcia.<br/>
          <strong>Użytkownik</strong> - każda osoba przebywająca na stronie i korzystająca z niej. <br/><br/>

          <h4>Zakres zbieranych danych</h4>
            Zakres przetwarzanych danych osobowych określa zakres danych przesłanych przez Użytkownika za pomocą
            odpowiedniego formularza. Administrator może zatem przetwarzać następujące dane osobowe Użytkownika:
            imię i nazwisko, imię i nazwisko dziecka,  adres poczty elektronicznej, numer telefonu, inne dane
            dobrowolnie przekazane przez danego Użytkownika.<br/>
            Podanie danych osobowych jest dobrowolne, jednakże ich niepodanie spowoduje brak możliwości świadczenia
            usług lub wykonania umowy. <br/><br/>
          <h3>Cel i podstawa prawna przetwarzania danych osobowych</h3>
            Przetwarzamy państwa dane osobowe oraz dane osobowe państwa dziecka w następujących celach: <br/>
             <li class="nav-item " style="margin-left: 40px"> Wykonania usługi lub realizacji umowy - na podstawie art.6 ust.1 lit. B RODO </li>
          <li class="nav-item" style="margin-left: 40px">Wystawienia faktury, rachunku - na podstawie art.6 ust.1 lit. C RODO </li>
          <li class="nav-item" style="margin-left: 40px"> Dochodzenia lub obrony przed roszczeniami - na podstawie art.6 ust.1 lit. F RODO </li>
          <li class="nav-item" style="margin-left: 40px">Kontaktu telefonicznego lub mailowego w sprawach związanych z realizacją umowy -
                    na podstawie art.6 ust.1 lit. B RODO</li>
          <li class="nav-item"  style="margin-left: 40px">Marketingu bezpośredniego własnych usług, kierowanego do Użytkowników,
                    którzy wypełnili Formularz - na podstawie art.6 ust.1 lit. A i F RODO</li>
          <li class="nav-item " style="margin-left: 40px">Działań promocyjnych, w tym publikowania fotografii lub filmów -na podstawie art.6 ust.1
              lit. A RODO</li>
          <li class="nav-item" style="margin-left: 40px">Obsługi fanpage na portalu Facebook pod nazwą Ziomkolandia
              (https://www.facebook.com/Ziomkolandia), odpowiadania na komentarze, wiadomości, interakcje użytkowników
              portalu - na podstawie art.6 ust.1 lit. F RODO.</li><br/>

          <h4>Odbiorcy danych</h4>
            Administrator może powierzać przetwarzanie danych osobowych podmiotom trzecim w celu wykonywania czynności
            wskazanych w Regulaminie i obsługi Użytkownika. Wówczas odbiorcami danych Użytkownika mogą być:
            dostawca hostingu, dostawca poczty elektronicznej, operator telefoniczny, biuro rachunkowe,
            dostawcy systemów do zarządzania fakturami, informatyk, a także opiekunowie dzieci oraz podmioty
            współpracujące z Administratorem podczas organizacji wypoczynku.<br/>
            Dane osobowe mogą być także udostępnione odpowiednim organom państwowym na ich żądanie na podstawie
           odpowiednich przepisów prawa lub innym osobom i podmiotom – w przypadkach przewidzianych przez przepisy prawa.
          <br/><br/>

           <h4>Czas przechowywania danych</h4>
            Dane osobowe będą przetwarzane przez czas odpowiedni dla wykazania prawidłowego wykonania umowy,
            przez okres wymagany przepisami prawa, w tym prawa podatkowego lub w przypadku organizowanych obozów
            lub półkolonii – przez czas wynikający z przepisów Ustawy o systemie oświaty (Dz.U.2020.1327 t.j.z dnia
            2020.07.31), a po tym czasie będą usuwane, o ile ich przetwarzanie nie będzie konieczne w oparciu o inną
            podstawę prawną. <br/>
            W przypadku danych przetwarzanych na podstawie zgody, dane osobowe będą przetwarzane do czasu wyrażenia
            przez Użytkownika sprzeciwu wobec dalszego przetwarzania danych osobowych. <br/>
            Dane związane z analizą ruchu sieciowego gromadzone za pośrednictwem plików cookies oraz podobnych
            technologii mogą być przechowywane do momentu wygaśnięcia pliku cookie. Niektóre pliki cookie nigdy nie
            wygasają, w związku z tym czas przechowywania danych będzie równoważny z czasem niezbędnym administratorowi
            do zrealizowania celów związanych z gromadzeniem danych, jak zapewnienie bezpieczeństwa i analiza danych
            historycznych związanych z ruchem na stronie.<br/><br/>

          <h4>Prawa Użytkownika</h4>
            Każdy Użytkownik, ma prawo do:<br/>
               <li style="margin-left: 40px"> (a) usunięcia danych osobowych</li>
               <li style="margin-left: 40px"> (b) ograniczenia przetwarzania danych,</li>
               <li style="margin-left: 40px"> (c) przenoszenia danych osobowych, w tym do otrzymania ich w
                   ustrukturyzowanej formie,</li>
               <li style="margin-left: 40px"> (d) żądania dostępu do swoich danych osobowych oraz ich sprostowania,</li>
               <li style="margin-left: 40px"> (e) wniesienia sprzeciwu wobec przetwarzania,</li>
                <li style="margin-left: 40px"> (f) cofnięcia zgody w dowolnym momencie bez wpływu na zgodność
                    z prawem przetwarzania, którego
                    dokonano na podstawie zgody przed jej cofnięciem,</li>
               <li style="margin-left: 40px"> (g) wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony
                   Danych Osobowych).</li> <br/>

            <h4>Przekazywanie danych do państwa trzeciego lub organizacji międzynarodowej</h4>
                Dane osobowe nie będą przekazywane do Państw trzecich ani organizacji międzynarodowych. <br/><br/>

            <h4>Wykorzystywanie plików cookies oraz podobnych technologii</h4>
                Serwis umożliwia gromadzenie informacji o użytkowniku za pośrednictwem cookies oraz podobnych technologii,
                których korzystanie najczęściej wiąże się z zainstalowaniem tego narzędzia na urządzeniu użytkownika
                (komputer, smartfon, itd.). Wykorzystuje się te informacje do zapamiętywania decyzji użytkownika
                (wybór czcionki, kontrastu, akceptacja polityki), utrzymania sesji użytkownika, gromadzenia informacji o
                urządzeniu użytkownika oraz jego wizycie służące do zapewnienia bezpieczeństwa, ale także analizy wizyt i
                dostosowania treści.<br/>
                Informacje pozyskane za pośrednictwem cookies oraz podobnych technologii nie są łączone z innymi danymi
                użytkowników Serwisu, nie służą też do ich identyfikacji przez Administratora.<br/>
                Użytkownik ma możliwość ustawić w przeglądarce blokowanie określonych rodzajów cookies i innych technologii,
                poprzez określenie na przykład, że dozwolone będą tylko i wyłącznie te, które są niezbędne do poprawnego
                wyświetlenia strony. Domyślnie większość przeglądarek dopuszcza stosowanie wszystkich cookies, jednak
                użytkownik ma możliwość zmiany tych ustawień w dowolnym momencie, może także usunąć zainstalowane już
                pliki cookies. Każda z przeglądarek umożliwia takie działanie poprzez jedną z dostępnych w ustawieniach
                lub preferencjach opcji.<br/>
                Użytkownik ma także możliwość korzystać ze strony w tzw. trybie incognito, który blokuje możliwość
                gromadzenia danych o jego wizycie.<br/>
                Korzystanie z serwisu bez zmiany ustawień przeglądarki, tzn. z domyślnym akceptowaniem plików cookies i
                podobnych technologii oznacza zgodę na ich wykorzystanie do określonych powyżej celów. Administrator nie
                wykorzystuje uzyskanych informacji do celów marketingowych.<br/> <br/>


          </p>
      </div>
	</section>

{% endblock %}