{% extends 'website/base.html' %}
{% load static %}
{% block title %} Zapisy na półkolonie z Ziomkolandia.pl {% endblock %}

{% block content %}

     <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/obozy-polkolonie.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Obóz - zapisy</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'oferta' %}"> Oferta <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb" >
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-12 wrap-about py-6 pr-md-6 ftco-animate">
                 <h4 style="color: orangered">
             Jeżeli chcesz zapisać dziecko na obóz wypełnij poniższe pola formularza.
                               Następnie wydrukuj dokument, uzupełnij pozostałe wymagane pola, podpisz i przekaż go do nas. </h4>
                   <h4 style="color: orangered">
                       Zapisując dziecko na obóz potwierdzasz jednocześnie, że zapoznałeś/aś się i akceptujesz treść
                    <a href="{% url 'regulamin' %}" target="_blank"> regulaminu  </a> oraz
                     <a href="{% url 'polityka' %}" target="_blank">polityki prywatności.</a></h4>

            </div>
        </div>
    </div>
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">

  <form enctype="multipart/form-data" method="POST" class="subscribe-form" id="enroll">

        {% csrf_token %}

      <table>
          {{ form.as_table }}
     </table>

      {{ captchaField }}
      <button type="submit" class="submit btn btn-primary py-3 px-5" id="submit">Zapisz</button>
      <button class="submit btn btn-quarternary py-3 px-5"><a href="{% url 'kids_enroll_day_camp' %}" style="color: white">Wyczyść</a></button>

  </form>
    <br/>
    <br/>
                </div>
            </div>
    </section>
    <br/>

{% endblock %}