{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/aktywnaziomkolandia.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Aktywna Ziomkolandia</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas <i class="ion-ios-arrow-forward"></i></a></span> <span><a href="{% url 'przedszkola' %}"> Aktywna ziomkolandia <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="image-popup">
                   <img src="{% static 'images/aktywna1.jpg'%}">
                </div>
           </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-4"> <a style="color: green"> <strong> "Aktywna Ziomkolandia" </strong> </a> </h2>
                        <p>
                            to projekt realizowany w ramach aktywizacji najmłodszych. Program ten skupia się na zabawach
                            korekcyjno-kompensacyjnych prowadzonych w formie opowieści ruchowej według autorskiego programu.
                            Opowieść ruchowa wprowadza dziecko w świat, który go otacza. Głównym celem zajęć jest wykształcenie
                            świadomości dziecka na temat prawidłowej postawy ciała poprzez zabawę i ćwiczenia ruchowe.
                        </p>
                        <p>
                            Zajęcia przeznaczone są przede wszystkim dla dzieci w wieku przedszkolnym <br/> (4 – 6 lat)
                            i odbywają się w przedszkolach na terenie Człuchowa i okolic. <br />
                            Czas trwania zajęć to 30-45 minut z częstotliwością 1 raz w tygodniu.
                        </p>
                        <p>
                <h3> <a href="{% url 'kids_enroll' %}" style="color: red"> Kiliknij tutaj i zapisz swoje dziecko na zajęcia </a></h3>
                        </p>
            </div>
        </div>
    </div>
    </section>

{% endblock %}