{% extends 'website/base.html' %}
{% load static %}
{% block title %} Regulamin usług Ziomkolandia.pl i Ziomkosfera {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/kontakt.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Polityka prywatności</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas <i class="ion-ios-arrow-forward"></i></a></span> <span>Polityka prywatności <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <br/> <br/>
      <div class="col-md-12 wrap-about py-6 pr-md-5 ftco-animate">
          <span style="position: center"><h2>REGULAMIN USŁUG ŚWIADCZONYCH PRZEZ ZIOMKOLANDIĘ ORAZ PRZEZ ZIOMKOSFERĘ</h2></span>
         <p class="text-center"><strong>§1<br/> Postanowienia ogólne</strong></p>

   <ul> 1. Niniejszy Regulamin określa warunki zapisów i uiszczania opłat za zajęcia sportowe, korekcyjno – kompensacyjne (zwane dalej ,,Zajęcia”) organizowane przez Ziomkosfera Marek Kołodziejski Dagmara Kołodziejska spółka cywilna pod nazwą „Aktywna Ziomkolandia”  (zwane dalej „Ziomkosfera”).</ul>
   <ul> 2. Niniejszy Regulamin określa warunki zapisów na obozy organizowane przez Marka Kołodziejskiego prowadzącego działalność gospodarczą pod nazwą Ziomkolandia.pl Marek Kołodziejski (zwane dalej ,,Ziomkolandia” lub ,,Organizator”) oraz warunki uczestnictwa w obozach.</ul>
   <ul> 3. Niniejszy Regulamin określa warunki zapisów na półkolonie organizowane przez Marka Kołodziejskiego prowadzącego działalność gospodarczą pod nazwą Ziomkolandia.pl Marek Kołodziejski (zwane dalej ,,Ziomkolandia lub ,,Organizator”) oraz warunki uczestnictwa w półkoloniach.</ul>
   <ul> 4. Każdy rodzic lub opiekun prawny dziecka dokonujący zapisu zobligowany jest do zapoznania się z poniższym regulaminem i do przestrzegania jego zasad.</ul>
<br/>
          <p class="text-center"><strong>§2<br/> Warunki zapisów na Zajęcia</strong></p>
     <ul>  1. Zajęcia odbywają się raz w tygodniu przez cały rok przedszkolny, w dniu wyznaczonym zgodnie z harmonogramem ustalonym przez Ziomkosferę, z wyjątkiem dni wolnych od Zajęć.</ul>
     <ul>  2. Dziecko może zostać zapisane na Zajęcia przez rodzica bądź przez inną osobę będącą opiekunem prawnym dziecka.</ul>
     <ul>  3. Zapisy dziecka na zajęcia odbywające się w danym roku przedszkolnym dokonuje się jednorazowo w terminie wskazanym przez Ziomkosferę.</ul>
          <ul>  4. Zapis dziecka na zajęcia odbywa się poprzez zgłoszenie dokonane za pośrednictwem formularza internetowego dostępnego na stronie <a href="{% url 'kids_enroll' %}"> www.ziomkolandia.pl/przedszkola-zapisy/</a>, po zaakceptowaniu niniejszego Regulaminu.</ul>
     <ul>  5. Ziomkosfera zastrzega, iż liczba miejsc na Zajęcia jest ograniczona. O kolejności przyjęcia do grupy decyduje termin wypełnienia formularza rejestracji.</ul>
     <ul>  6. Ziomkosfera zastrzega sobie prawo do odmowy rejestracji uczestnika.</ul>
     <ul>  7. Ziomkosfera zastrzega możliwość wysyłania wiadomości sms przypominających o zaległych płatnościach za Zajęcia, a rodzic bądź opiekun prawny dziecka wyraża na powyższe zgodę.</ul>

<br/>
<p class="text-center"><strong>§3<br/>Nieobecność na Zajęciach<br/>Rezygnacja z Zajęć</strong></p>
     <ul>  1. Nieobecność dziecka na Zajęciach, rodzic bądź opiekun prawny zobowiązany jest zgłosić Ziomkosferze najpóźniej dwie godziny przed rozpoczęciem Zajęć. Brak zgłoszenia nieobecności wiązać się będzie z obowiązkiem poniesienia opłaty za Zajęcia.</ul>
     <ul>  2. Rezygnacja z dalszego uczestnictwa w Zajęciach jest możliwa po uprzednim powiadomieniu Ziomkosfery. Brak zgłoszenia rezygnacji wiązać się będzie z obowiązkiem ponoszenia dalszych opłat za Zajęcia.</ul>
     <ul>  3. Rodzic bądź opiekun prawny zobowiązany jest do poinformowania o nieobecności lub rezygnacji z Zajęć poprzez przesłanie wiadomości na adres e-mail: <a href="mailto:info@ziomkolandia.pl"> info@ziomkolandia.pl</a> lub sms na numer telefonu <a href="tel://+48512503608">+48 512 503 608</a> podając imię i nazwisko oraz grupę przedszkolną dziecka.</ul>

          <br/>
          <p class="text-center"><strong>§4<br/>Warunki uiszczania opłat za zajęcia</strong></p>
     <ul>  1. Opłata za pojedyncze Zajęcia wynosi 10 zł.</ul>
     <ul>  2. Cykl rozliczeniowy obejmuje miesiąc kalendarzowy.</ul>
     <ul>  3. Łączny koszt w cyklu rozliczeniowym obejmuje iloczyn ilości Zajęć i ceny za pojedyncze Zajęcia w danym miesiącu. W przypadku poinformowania Ziomkosfery o nieobecności dziecka na Zajęciach bądź rezygnacji z dalszego uczestnictwa w Zajęciach zgodnie §3 regulaminu, opłata za Zajęcia nie jest naliczana.</ul>
     <ul>  4. Rodzic bądź opiekun prawny dziecka dokonuje zapłaty za udział w Zajęciach do ostatniego dnia danego miesiąca w formie przelewu na numer konta : 38 1240 3796 1111 0010 9768 0276.</ul>
<br/>
          <p class="text-center"><strong>OBOZY<br/>§5<br/>Warunki zapisów na obozy</strong></p>
     <ul>  1. Dziecko może zostać zapisane na obóz przez rodzica bądź przez inną osobę będącą opiekunem prawnym dziecka.</ul>
     <ul>  2. Zapisy na obozy rozpoczynają się i kończą w terminie wyznaczonym przez Ziomkolandię.</ul>
     <ul>  3. Dziecko może zostać zapisane na obóz poprzez uzupełnienie formularza zgłoszeniowego dostępnego na stronie <a href="{% url 'kids_enroll_camp' %}"> www.ziomkolandia.pl/oboz-zapisy/</a>, po zaakceptowaniu niniejszego Regulaminu. Poprawne wypełnienie formularza umożliwi wygenerowanie karty kwalifikacyjnej uczestnika wypoczynku oraz umowy, które należy wydrukować, uzupełnić i podpisać oraz dostarczyć Ziomkolandii osobiście bądź listownie na adres : Ziomkolandia.pl Marek Kołodziejski, os. Witosa 24/27, 77-300 Człuchów.</ul>
     <ul>  4. Organizator zastrzega, iż liczba miejsc na obozach jest ograniczona. O kolejności przyjęcia decyduje data zapisu.</ul>

<br/>
          <p class="text-center"><strong>§6<br/>Warunki uczestnictwa</strong></p>
     <ul>  1. Zawarcie umowy z ZIOMKOLANDIĄ następuje w chwili podpisania przez rodzica/opiekuna uczestnika "UMOWY O UDZIAŁ W ZORGANIZOWANYM WYPOCZYNKU”, której integralną częścią są "WARUNKI UCZESTNICTWA W ZORGANIZOWANYM WYPOCZYNKU Z ZIOMKOLANDIĄ” zwanej dalej "Warunkami".</ul>
     <ul>  2. Rodzic/opiekun zobowiązany jest w terminie określonym w umowie dokonać należnych opłat na konto organizatora:</ul>
         <ul style="margin-left: 40px">  1. zaliczkę w wysokości określonej w umowie – w terminie 14 dni od dnia podpisywania umowy,</ul>
         <ul style="margin-left: 40px">  2. pozostałą sumę – do 5 dni przed rozpoczęciem wypoczynku.</ul>
     <ul>  3. Rezygnacja z wypoczynku może nastąpić tylko w formie pisemnego oświadczenia, złożonego bezpośrednio u Organizatora. O wysokości kosztów ponoszonych przez rodzica/opiekuna rezygnującego z wypoczynku, decyduje data przyjęcia oświadczenia o rezygnacji przez Organizatora. Miejsce zwolnione w wyniku rezygnacji uczestnika pozostaje do dyspozycji Organizatora.</ul>
     <ul>  4. Koszty ponoszone przez rodzica/opiekuna w razie rezygnacji uczestnika z wypoczynku:</ul>
         <ul style="margin-left: 40px">  1. 40% całkowitej ceny wypoczynku, w przypadku rezygnacji w terminie do 8 dni przed datą rozpoczęcia wypoczynku,</ul>
         <ul style="margin-left: 40px">  2. 100% całkowitej ceny wypoczynku, w przypadku rezygnacji w terminie 7 dni i krótszym przed datą rozpoczęcia wypoczynku, bądź obciążenie kosztami faktycznie poniesionymi  (nawet do 100%).</ul>
     <ul>  5. Potrącenia określone w pkt. 4. dokonywane będą bez względu na termin podpisania umowy.</ul>
     <ul>  6. Ewentualne zwroty wpłat dokonuje Organizator w terminie 14 dni od daty zgłoszenia rezygnacji.</ul>
     <ul>  7. Przy dokonywaniu jakichkolwiek zwrotów pieniężnych, Rodzicowi/opiekunowi nie przysługują odsetki od wpłaconych kwot.</ul>
     <ul>  8. Organizator zastrzega sobie prawo do zmiany warunków umowy (np. terminu wypoczynku, miejsca wypoczynku, formy dojazdu itp.) z przyczyn od niego niezależnych. Wówczas Organizator ma obowiązek niezwłocznie powiadomić Rodzica/opiekuna o ewentualnej zmianie. Rodzic/opiekun zobowiązany jest powiadomić Organizatora o akceptacji nowych warunków lub o rezygnacji z wypoczynku w terminie do trzech dni od daty przyjęcia powiadomienia. Brak odpowiedzi w tym terminie traktowany będzie jako akceptacja nowych warunków umowy.</ul>
     <ul>  9. Organizator zastrzega sobie prawo do anulowania wypoczynku o czym niezwłocznie powiadomi Rodzica/opiekuna, wówczas Organizator zwraca pełną wpłaconą kwotę.</ul>
     <ul>  10. Rodzicowi/opiekunowi nie przysługuje zwrot wartości świadczeń, których uczestnik nie wykorzystał w czasie trwania wypoczynku z przyczyn leżących po stronie Uczestnika.</ul>
     <ul>  11. Uczestnik ma obowiązek posiadania przy sobie ważnego dokumentu - legitymacji szkolnej podczas trwania wypoczynku, a także książeczki zdrowia (nie dotyczy półkolonii).</ul>
     <ul>  12. Każdy Uczestnik wypoczynku jest ubezpieczony przez Organizatora od następstw nieszczęśliwych wypadków podczas trwania wypoczynku.</ul>
     <ul>  13. Organizator nie ponosi odpowiedzialności za szkody i straty powstałe w wyniku działania siły wyższej, której uniknięcie nie leży w mocy Organizatora oraz za rzeczy pozostawione w miejscu pobytu.</ul>
     <ul>  14. Organizator podejmuje się sprawowania opieki nad Uczestnikiem od momentu przejęcia Go od Rodzica/opiekuna w dniu i godzinie wyjazdu do momentu przyjazdu na miejsce zakończenia wypoczynku. Data i godzina powrotu podane będą do wiadomości Rodzica/opiekuna.</ul>
     <ul>  15. Rodzic/opiekun zobowiązuje się do dostarczenia Uczestnika i odbioru Go z miejsca zbiórki w odpowiednim dniu i godzinie podanym odpowiednio wcześnie do wiadomości Rodzica/opiekuna. Jeżeli Rodzic/opiekun nie zgłosi się po Uczestnika na miejsce zakończenia wypoczynku Uczestnik zostanie odwieziony do miejsca zamieszkania na koszt Rodzica/opiekuna.</ul>
     <ul>  16. Jeżeli z winy Organizatora nie zostaną zrealizowane określone świadczenia lub jakość tych świadczeń rażąco odbiega od jakości wynikającej z treści zawartej umowy-oferty - Organizator przyjmuje na siebie stosowną odpowiedzialność finansową i zobowiązuje się do dokonania zwrotu części wniesionych opłat za usługę. Niezrealizowanie programu zawartego w ofercie może nastąpić jedynie z przyczyn obiektywnych, niezależnych od Organizatora, np. niesprzyjające warunki atmosferyczne, za co Organizator nie odpowiada. Wszelkie reklamacje w sprawie usług winny być wniesione niezwłocznie, nie później jednak niż do 7 dni od zakończenia wypoczynku. </ul>
     <ul>  17. Rodzic/opiekun zobowiązuje się do pokrycia ewentualnych kosztów związanych ze stratami materialnymi wynikającymi z naumyślnie wyrządzonych szkód przez Uczestnika.</ul>
     <ul>  18. W przypadku, gdy z przyczyn niezależnych od Organizatora, np. kataklizmy, nieszczęśliwe wypadki czas trwania wypoczynku wydłuży się, wówczas Rodzice/Opiekunowie zobowiązują się do pokrycia kosztów związanych z niezbędnym pobytem Uczestnika w miejscu wypoczynku.</ul>
     <ul>  19. W przypadku choroby uczestnika w czasie trwania wypoczynku koszty związane z jego leczeniem pokrywa Rodzic/Opiekun.</ul>
     <ul>  20.  Uczestnik wypoczynku zobowiązany jest do dostosowania się i przestrzegania poniższego regulaminu wypoczynku:</ul>
                 <ul style="margin-left: 40px">  a. Uczestnik zobowiązany jest słuchać, i wykonywać polecenia instruktora-wychowawcy.</ul>
                 <ul style="margin-left: 40px">  b. Uczestnik nie może sam, dobrowolnie opuszczać terenu pobytu i miejsc zajęć programowych.</ul>
                 <ul style="margin-left: 40px">  c. Uczestnik nie może spożywać alkoholu, palić tytoniu i korzystać z innych używek (np. narkotyków) podczas trwania wypoczynku.</ul>
                 <ul style="margin-left: 40px">  d. Uczestnik ma prawo do uczestnictwa w zajęciach programowych oraz do zgłaszania własnych propozycji programowych oraz ich realizacji za zgodą i pod opieką instruktora-wychowawcy.</ul>
     <ul>  21.  W przypadku rażącego niedostosowania się Uczestnika do regulaminu wypoczynku - Organizator ma prawo do odesłania Uczestnika do miejsca zamieszkania na koszt Rodzica/opiekuna.</ul>
     <ul>  22. W przypadku dobrowolnego opuszczenia wypoczynku przez Uczestnika i odebrania Go przez Rodzica/opiekuna - Organizator nie zwraca wpłaty i nie pokrywa dodatkowych kosztów związanych z transportem itp.</ul>
     <ul>  23. Sprawy nieujęte w niniejszych warunkach będą rozpatrywane indywidualnie przez właściciela Marka Kołodziejskiego lub upoważnionego przez niego pracownika w ciągu 14 dni od złożenia pisemnego wniosku przez Rodzica/opiekuna.</ul>

<br/>
          <p class="text-center"><strong>PÓŁKOLONIE<br/>§7<br/>Warunki zapisów na półkolonie</strong></p>
     <ul>  1. Dziecko może zostać zapisane na półkolonie przez rodzica bądź przez inną osobę będącą opiekunem prawnym dziecka.</ul>
     <ul>  2. Zapisy na półkolonie rozpoczynają się i kończą w terminie wyznaczonym przez Ziomkolandię.</ul>
          <ul>  3. Dziecko może zostać zapisane na półkolonie poprzez uzupełnienie formularza zgłoszeniowego dostępnego na stronie <a href="{% url 'kids_enroll_day_camp' %}">www.ziomkolandia.pl/polkolonie-zapisy/</a>, po zaakceptowaniu niniejszego Regulaminu. Poprawne wypełnienie formularza umożliwi wygenerowanie karty zgłoszenia uczestnictwa, którą należy wydrukować, uzupełnić i podpisać oraz dostarczyć Ziomkolandii osobiście bądź listownie na adres : Ziomkolandia.pl Marek Kołodziejski, os. Witosa 24/27, 77-300 Człuchów.</ul>
     <ul>  4. Organizator zastrzega, iż liczba miejsc na półkolonie jest ograniczona. O kolejności przyjęcia decyduje data zapisu.</ul>

<br/>
          <p class="text-center"><strong>§8<br/>Warunki uczestnictwa</strong></p>
     <ul>  1. Uczestnikami półkolonii mogą być dzieci w wieku od 8 do 13 lat.</ul>
     <ul>  2. Uczestnicy półkolonii przebywają pod opieką wychowawców od godz. 8.00 do godz.15.00.</ul>
     <ul>  3. Rodzice są odpowiedzialni za bezpieczną drogę dziecka do miejsca zbiórki i z powrotem. Dzieci są odbierane z w/w miejsca wyłącznie przez osoby wskazane w karcie zgłoszeniowej.</ul>
     <ul>  4. W przypadku samodzielnego powrotu dziecka do domu, rodzice/opiekunowie są zobowiązani napisać oświadczenie.</ul>
     <ul>  5. W razie zaistniałej szkody materialnej rodzic/opiekun dziecka ponosi odpowiedzialność finansową za uszkodzone przedmioty stanowiące własność organizatorów półkolonii lub miejsca, w którym odbywają się półkolonie, a także przedmioty innych uczestników półkolonii.</ul>
     <ul>  6. Z atrakcji wodnych tj. narty wodne, banan, ponton wodny mogą korzystać wyłącznie dzieci, które potrafią pływać i mają ukończone 10 lat. W przypadku młodszych lub nie umiejących pływać dzieci, organizator zapewnia uczestnikowi możliwość przepłynięcia się motorówką po akwenie wodnym.</ul>
     <ul>  7. W razie nagłej choroby dziecka, po przedstawieniu zaświadczenia lekarskiego, rodzice lub opiekunowie mogą otrzymać zwrot kosztów za niewykorzystaną część turnusu lub cały turnus z wyjątkiem kosztów już poniesionych przez organizatora.</ul>
     <ul>  8. Rodzice/opiekunowie wpłacają zaliczkę przed rozpoczęciem turnusu, zaliczka jest bezzwrotna (z wyjątkiem – patrz punkt 7), gdyż stanowi rezerwację miejsca w grupie półkolonijnej i blokuje miejsce potencjalnym uczestnikom.</ul>
     <ul>  9. Pełna opłata za półkolonie winna być wniesiona do dnia rozpoczęcia turnusu.</ul>
     <ul>  10. Organizator zastrzega sobie prawo do odwołania turnusu 3 dni przed rozpoczęciem w przypadku nie zebrania grupy minimum 20 osób. Zadatki wniesione w tym przypadku podlegają zwrotowi.</ul>

          <br/>
          <p class="text-center"><strong>§9<br/>Postanowienia końcowe</strong></p>
     <ul>  1. Organizator zastrzega sobie prawo do wprowadzania oraz odwoływania ofert oraz do dokonywania zmian w publikowanych ofertach bez uszczerbku dla praw nabytych przez klientów.</ul>
     <ul>  2. Organizator zastrzega sobie możliwość wprowadzania zmian w Regulaminie.</ul><br/>



        </div>
	</section>

{% endblock %}