{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/zielone.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Zielona szkoła - aktywnie i sportowo</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'zielona-szkola' %}"> Zielona szkoła <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
         <div class="col-md-5 order-md-last wrap-about py-5 wrap-about ">
                <div>
                   <img src="{% static 'images/tor-art.jpg'%}">
                </div>
           </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate fadeInUp ftco-animated">
                 <h2 class="mb-4"style="color:green;"> Zielona szkoła z Ziomkolandią</h2>
                        <p>
                          Zielone szkoły organizowane przez Ziomkolandię to niezapomniana przygoda w zaciszu pięknego
                          obszaru nad Jeziorem Rychnowskim w powiecie człuchowskim. Atutem tego miejsca są liczne
                          atrakcje oferowane nie tylko przez naszą firmę, ale również miejscową turystykę.
                          Szeroki wybór atrakcji pozwala na dostosowanie oferty do określonej grupy wiekowej oraz
                          umiejętności motorycznych uczestników. <br/>
                          Zgodnie z ideą naszej firmy
                          <b> <a style="color: orangered"> „Aktywni dziś – wygrywają jutro”.</a></b>
                          staramy się zapewnić dużo rozrywki w zakresie aktywności ruchowej, wykorzystując atrakcje
                          w terenie, a przy sprzyjających warunkach pogodowych również na wodzie.
                        </p>
                        <p>
                            Nasza wiedza i doświadczenie pozwoli na stworzenie indywidualnie dobranego scenariusza
                            zabaw każdego dnia wypoczynku. Jesteśmy otwarci na pomysły oraz indywidualne propozycje.
                             <br/>
                            Zapraszamy do kontaktu celem ustalenia szczegółów.
                        </p>

            </div>
        </div>

        <p>
        <h2 class="mb-4"> <a href="{% url 'oferta-zielona-szkola' %}" style="color: green">
        Aktualna oferta znajduje się tutaj. </a></h2>
        </p>
    </div>

    </section>



<br/>
    	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/polkol.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/polkol.jpg" %});">
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/park-linowy.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/park-linowy.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/tor1.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/tor1.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/archery.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/archery.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
{% endblock %}