{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Dmuchańce i atrakcje</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'atrakcje' %}">
                 Dumachańce i atrakcje <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section">
      <div class="container">
           <div class="row">

        <h2><a style="color:green;"><strong>
            Dmuchany tor przeszkód CrashRunner</strong></a>
        </h2>
        <p>
            <strong> CrashRunner to najbardziej ekstremalny tor przeszkód w naszej ofercie. </strong>
            Zapewnia dużą dawkę czołgania się i wspinania, a kończy się długą zjeżdżalnią.
            Sprawność uczestnika najpierw sprawdzi slalom między trójkątnymi, dmuchanymi przeszkodami,
            potem trzeba się przecisnąć przez iksy, przeskoczyć ściankę, pokonać ogromne, poziome słupy,
            żeby dotrzeć do głównego punktu programu - wysokich stopni. Uczestnik, który nie da rady ich pokonać -
            spadnie pomiędzy zapadki i będzie musiał opuścić CrashRunnera bocznym wyjściem, zamiast zjechać
            triumfalnie po zjeżdżalni.
        </p>
        <p>
           <stron> Dmuchany tor przeszkód CrashKader "Long", został zaprojektowany z myślą głównie o młodzieży i
               dorosłych, ale również dzieci od 6-go roku życia będą się na nim świetnie bawić. </stron>
            Liczne wzniesienia, zjeżdżalnie, tunele i przeszkody gwarantują świetną zabawę oraz zdrową rywalizację.
            Tor składa się z dwóch elementów, łączonych ze sobą za pomocą specjalnych rzepów.
        </p>
        <p>
            Ten tor przeszkód doskonale sprawdzi się na <strong> imprezach integracyjnych, firmowych, festynach,
            piknikach rodzinnych i wszystkich innych eventach, na których użytkownicy będą chcieli rywalizować i
            wykazać się sprawnością.</strong>
        </p>
        <p>
            Dmuchany tor przeszkód ma <strong> 24 metry długości, 4,7 metra szerokości  i 5 metrów wysokości.</strong>
            Spełnia normę bezpieczeństwa PN:EN 14960 dla nadmuchiwanego sprzętu do zabawy. <br/>
            Do dmuchańca używamy dwóch dmuchaw 2400 W.
        </p>
               <p class="button text-center"><a href="{% url 'kontakt' %}" class="btn btn-primary px-4 py-3">Zamów</a></p>
               <p class="button text-center"><a href="{% url 'atrakcje' %}" class="btn btn-quarternary px-4 py-3">Wróć do oferty</a></p>

         </div>
           </div>

    </section>

<br/>
    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
                   <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner16.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner16.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner2.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner3.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner4.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner6.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner6.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner7.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner7.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner8.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner8.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                 <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner9.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner9.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner10.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner10.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner11.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner11.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner12.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner12.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                 <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner13.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner13.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner15.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner15.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>


                	<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner1.jpg '%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/atrakcje/runner1.jpg" %});">
                            	<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                  <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner5.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner5.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                      <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/runner14.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/runner1.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

        </div>
    	</div>

      <div class="container">
           <div class="row">
       <img src="{% static 'images/logo-ue.png'%}">
        <p>       Projekt: Uruchomienie nowych usług w zakresie organizacji czasu wolnego.<br/>
        Celem projektu jest zakup dmuchanych atrakcji oraz rozszerzenie oferty o ekstremalne sporty wodne dostępne na terenie Ośrodka Sportu i Rekreacji w Człuchowie przy plaży nad Jeziorem Rychnowskim.
        Dmuchane atrakcje dla dzieci i młodzieży pozwolą aktywnie spędzić czas. Użytkowane przez odbiorców obiekty pozwalają, nie tylko na świetną zabawę w oczach dzieci, ale przede wszystkim mają bardzo korzystny wpływ na organizm poprzez zwiększenie wydolności w trakcie skakania, wzmocnienie propriocepcji, a także pobudzenie czucia głębokiego. Ścianka wspinaczkowa to istotny element wzmacniający globalne mięśnie ciała, natomiast tory przeszkód stanowią ciekawy element współzawodnictwa, a przy tym ciekawą formę spędzania czasu dzieci i młodzieży. Analiza rynku pozwala stwierdzić, iż dotychczas tak różnorodne formy dmuchanych atrakcji nie są powszechnie dostępne w powiecie człuchowskim i okolicy, dlatego też inwestycja, którą firma planuje zrealizować z pewnością wzmocni pozycję na rynku.
    <br/>
             Wartość projektu: 171 000,98 zł <br/>
             Wkład Funduszy Europejskich: 118 171,38 zł
</p>
         </div>
             </div>
    <br/>
    </section>

{% endblock %}