{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Dmuchańce i atrakcje</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'atrakcje' %}">
                 Dumachańce i atrakcje <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section">
      <div class="container">
           <div class="row">

        <h2><a style="color:green;">
            <strong> Dmuchany zamek skakaniec Kolorowe Klocki</strong></a>
        </h2>
        <p>
            <strong> Dmuchany zamek skakaniec Kolorowe Klocki to świetna atrakcja dla dzieci.</strong>
            Umożliwia im wyskakanie się do woli i bardzo bezpieczną zabawę – atrakcja jest ogrodzona miękkimi bandami z
            trzech stron.
        </p>
       <p>
            Ten dmuchany zamek ma <strong> 5 metrów długości, 4 metry szerokości i 4 metry wysokości.</strong>
            Spełnia normę bezpieczeństwa PN:EN 14960 dla nadmuchiwanego sprzętu do zabawy. <br/>
            Do dmuchańca używamy jednej dmuchawy 750 W.
        </p>
               <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Zamów</a></p>
               <p class="button text-center"><a href="{% url 'atrakcje' %}" class="btn btn-quarternary px-4 py-3">Wróć do oferty</a></p>

         </div>
           </div>

    </section>

<br/>
    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">

                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki9.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki9.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki10.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki10.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki11.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki11.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki1.jpg '%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/atrakcje/zamek_klocki1.jpg" %});">
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki2.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki3.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki4.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki5.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki5.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki6.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki6.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki7.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki7.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zamek_klocki8.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zamek_klocki8.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>


                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki_mini12.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki_mini12.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>




        </div>
    	</div>
    </section>

{% endblock %}