{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Dmuchańce i atrakcje</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'atrakcje' %}">
                 Dumachańce i atrakcje <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section">
      <div class="container">
           <div class="row">

        <h2><a style="color:green"> <strong> Wynajem łodzi typ RIB </strong> </a> </h2>
           </div>
           <div class="row">
        <p>
            <strong> Wynajem łodzi typ RIB </strong> (6 osób, silnik suzuki 100KM) wraz z instruktorem i atrakcjami
            do holowania. <br/>
         W naszej ofercie mogą Państwo skorzystać z następujących atrakcji wodnych:<br/>
            - 6 osobowy baman wodny<br/>
            - 2x Poduchy 1 osobowe<br/>
            - Kanapa 3 osobowa <br/>
            - Wakeboard <br/>
            - Narty wodne <br/>
            - Skinslais  <br/>

        </p>
        <p>
            <strong> Możliwość wypożyczenia 6 kompletów pianek (damskie i męskie). <br/>
                Zapewniamy również kamizelki ratownicze oraz kaski ochronne. </strong>
        </p>
           </div>
          <div class="row">
               <p class="button text-center"><a href="{% url 'kontakt' %}" class="btn btn-primary px-4 py-3">Zamów</a></p>
               <p class="button text-center"><a href="{% url 'atrakcje' %}" class="btn btn-quarternary px-4 py-3">Wróć do oferty</a></p>

         </div>
           </div>

    </section>
<section class="ftco-section">
      <div class="container">
                  <div class="row">
                     <img src="{% static 'images/lodka.jpg' %}" alt="RIB">
					</div>

<br/>
      </div>
</section>

{% endblock %}