{% extends 'website/base.html' %}
{% load static %}
{% block title %} Aktywna Ziomkolandia {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/dmuchance.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Dmuchańce i atrakcje</h1>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">O nas
                  <i class="ion-ios-arrow-forward"></i></a></span> <span> <a href="{% url 'atrakcje' %}">
                 Dumachańce i atrakcje <i class="ion-ios-arrow-forward"></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section">
      <div class="container">
           <div class="row">

        <h2><a style="color:green;">
            <strong> Zjeżdżalnia Kolorowe Klocki</strong></a>
        </h2>
        <p>
            Ta kolorowa zjeżdżalnia to atrakcja, która sprawi, że dzieci na pewno nie będą się nudzić na evencie.
            Rzuca się w oczy i przypomina wszystkie świetne zabawy związane z układaniem budowli z klocków.
        </p>
        <p>
            Ta atrakcja dmuchana ma <strong> 6 metrów wysokości, 7 metrów długości i 4 metry szerokości.</strong>
            Spełnia normę bezpieczeństwa PN:EN 14960 dla nadmuchiwanego sprzętu do zabawy. <br/>
            Do dmuchańca używamy jednej dmuchawy 2400 W.
        </p>
               <p class="button text-center"><a href="{% url 'kontakt' %}" class="btn btn-primary px-4 py-3">Zamów</a></p>
               <p class="button text-center"><a href="{% url 'atrakcje' %}" class="btn btn-quarternary px-4 py-3">Wróć do oferty</a></p>

         </div>
           </div>

    </section>

<br/>
    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zjazd_klocki1.jpg '%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({%  static "images/atrakcje/zjazd_klocki1.jpg" %});">
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zjazd_klocki2.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zjazd_klocki2.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zjazd_klocki3.jpg' %}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zjazd_klocki3.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/zjazd_klocki4.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/zjazd_klocki4.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki5.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki5.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki6.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki6.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki7.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki7.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki8.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki8.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                 <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki9.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki9.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki10.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki10.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki11.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki11.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki12.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki12.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

                 <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki13.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki13.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki14.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki14.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki15.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki15.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
                <div class="col-md-3 ftco-animate">
						<a href="{% static 'images/atrakcje/klocki16.jpg'%}"
                           class="gallery image-popup img d-flex align-items-center"
                           style="background-image: url({% static 'images/atrakcje/klocki16.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>


      <div class="container">
           <div class="row">
       <img src="{% static 'images/logo-ue.png'%}">
        <p>       Projekt: Uruchomienie nowych usług w zakresie organizacji czasu wolnego.<br/>
        Celem projektu jest zakup dmuchanych atrakcji oraz rozszerzenie oferty o ekstremalne sporty wodne dostępne na terenie Ośrodka Sportu i Rekreacji w Człuchowie przy plaży nad Jeziorem Rychnowskim.
        Dmuchane atrakcje dla dzieci i młodzieży pozwolą aktywnie spędzić czas. Użytkowane przez odbiorców obiekty pozwalają, nie tylko na świetną zabawę w oczach dzieci, ale przede wszystkim mają bardzo korzystny wpływ na organizm poprzez zwiększenie wydolności w trakcie skakania, wzmocnienie propriocepcji, a także pobudzenie czucia głębokiego. Ścianka wspinaczkowa to istotny element wzmacniający globalne mięśnie ciała, natomiast tory przeszkód stanowią ciekawy element współzawodnictwa, a przy tym ciekawą formę spędzania czasu dzieci i młodzieży. Analiza rynku pozwala stwierdzić, iż dotychczas tak różnorodne formy dmuchanych atrakcji nie są powszechnie dostępne w powiecie człuchowskim i okolicy, dlatego też inwestycja, którą firma planuje zrealizować z pewnością wzmocni pozycję na rynku.
    <br/>
             Wartość projektu: 171 000,98 zł <br/>
             Wkład Funduszy Europejskich: 118 171,38 zł
</p>
         </div>
             </div>
    <br/>
    </section>

{% endblock %}